@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&family=Tenor+Sans&display=swap');
@import 'reset';
@import 'reset-form';
@import './vars/global';

*,
*::after,
*::before {
    box-sizing: border-box;
}

body {
    font: var(--font-m);
    color: #000;
}

.wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    background: #fff;
    font: var(--font-m);
    color: #000;
    min-height: 100vh;
}

.page-wrapper {
    flex-grow: 1;
}
