.search-page {
    padding: 20px 0;
}

.search-page-inner {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 30px;
}

.search-input-wrapper {
    width: 100%;
    padding: 30px 20px;
    background: #DDDDDD;
}
